.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    height: 100%;
    grid-row-gap: 1em;
    background-color: white;
}

.r1,
.r3 {
    
    background-color: #9BC1BC;
    padding: 1em;
    align-items: center;
}
.r2 {
    height: 100%;
    background-color: #f1f1f1;
}

.r3 {
    text-align: center;
    color: #F4F1BB;
    background-color: #9BC1BC;
}


.r1>img {
    margin: auto;
    width: 166px;
    padding: 10px;
    height: 100px;
}

.two-column {
    display: grid;
    background-color: #E6EBE0;
    grid-column-gap: 1em;
}

.c1 {
    min-width: 200px;
}

.c1,
.c3 {
    background-color: #f4f4f4;
}

.txt-center {
    text-align: center;
    margin: 15px auto 0px;
    border-bottom: 1px solid #a8a7a7;
    padding-bottom: 15px;
}



.left-nav>li>a {
    display: block;
    padding: 15px 0px 15px 30px;
    background-color: #f4f4f4;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.7s;
}

.left-nav>li>a:hover {
    background-color: #8d8c8c;
}
.left-nav {
    list-style-type: none;
}


.h2-content {
    grid-column: 1 / 5;
    height: 22px;
    width: 100%;
}
.c2 {
    padding: 2em;
}
.c2>img {
    width: 100%;
    align-self: center;
    max-height: 130px;
}
.contact-input {
    width: 91%;
    padding: 15px;
    margin: 5px;
}
.contact-form {
    width: 500px;
    height: 500px;
    margin: 100px auto;
}


.error-message {
    color: red;
    display: block;
    margin-top: 5px;
    padding: 7px;
    display: none;
}
.submit-button {
    padding: 10px 25px;
    background-color: #CCC;
    float: right;
    margin-top: 12px;
}
